{% extends('base.html.twig') %}

{% block body %}

<h3>#{{post.id}}: {{post.title}}</h3>
<em>{{post.category}}</em>
<p>Pak nějaký popis.</p>
<img class="image-responsive" src="{{'/uploads/' ~ post.image}}" alt=""></img>

{% endblock %}